<section class="mt-5">
  <div class="container py-3 px-3 px-md-5">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup]="form!" (ngSubmit)="login()">
          <h1 class="fw-semibold" [style.color]="'#009688'">Login de Usuário</h1>

          <div class="form-group my-3 position-relative">
            <label class="form-label" for="login">Login</label>
            <input
              formControlName="login"
              [ngClass]="campoEstaInvalido('login') ? 'is-invalid' : ''"
              type="text"
              class="form-control form-control-lg"
            />
          </div>

          <div class="form-group my-3 position-relative">
            <label class="form-label" for="senha">Senha</label>
            <input
              formControlName="senha"
              [ngClass]="campoEstaInvalido('senha') ? 'is-invalid' : ''"
              type="password"
              class="form-control form-control-lg"
            />
          </div>

          <div class="form-group my-3">
            Ainda não é um usuário?
            <a role="button"
               class="text-decoration-none"
               routerLink="/registro"
               [style.color]="'#009688'">Clique aqui e cadastre-se!</a>
          </div>

          <div class="card-footer g-grid d-flex gap-1 mt-4">
            <button type="submit" class="button btn btn-light px-5 rounded-pill" 
                    [style.background-color]="'#009688'" [style.color]="'#ffffff'">
              Entrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
