<div *ngIf="estaCarregando" class="d-grid place h-75 w-100 justify-content-center align-items-center">
  <mat-spinner color="primary"></mat-spinner>
</div>

<div *ngIf="usuario$ | async as usuario; else auth">
  <app-shell *ngIf="!estaCarregando">
      <router-outlet></router-outlet>
  </app-shell>
</div>

<ng-template #auth>
  <router-outlet></router-outlet>
</ng-template>

<!-- <app-shell *ngIf="(usuarioLogado$ | async); else auth">
  <router-outlet></router-outlet>
</app-shell>

<ng-template #auth>
  <router-outlet></router-outlet>
</ng-template> -->