<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav #drawer
             class="sidenav"
             fixedInViewport
             [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
             [mode]="(isHandset$ | async) ? 'over' : 'side'"
             [opened]="isSidenavOpen">
             
  <mat-toolbar>
    <a mat-list-item href="dashboard" class="py-2 px-2 hover-style">Painel do Usuário</a>
  </mat-toolbar>

  <mat-nav-list>    
    <mat-expansion-panel class="mb-1">
      <mat-expansion-panel-header>
        <mat-panel-title>Cadastro</mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item href="medicos">Medicos</a>
    </mat-expansion-panel>

    <mat-expansion-panel class="mb-1">
      <mat-expansion-panel-header>
        <mat-panel-title>Atividades</mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item href="cirurgias">Cirurgias</a>
      <a mat-list-item href="consultas">Consultas</a>
    </mat-expansion-panel>
  </mat-nav-list>
</mat-sidenav>

<mat-sidenav-content>

  <mat-toolbar color="primary">
    <button type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="toggleSidenavVisibility()"
            *ngIf="isHandset$ | async">
      
    </button>
    <button type="button" mat-button (click)="toggleSidenavVisibility()"><mat-icon> menu </mat-icon></button>
    <span class="d-flex align-items-center gap-2 fw-semibold fs-4">
      e-Agenda Médica        
      <span class="material-symbols-outlined fs-2"> ecg </span>
      </span>
  </mat-toolbar>

  <main>      
    <ng-content></ng-content>
  </main>

</mat-sidenav-content>

</mat-sidenav-container>
